doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Fashion
  link(rel='stylesheet' href='css/style.css')
nav.nav
  .nav__logo
    a(href='#') Arriba House of Fashion
  ul.nav__menu
    a.nav__item(href='#')
      li.nav__list Wedding Gowns
    a.nav__item(href='#')
      li.nav__list Dress
    a.nav__item(href='#')
      li.nav__list Sale
header.header
  .header__description
    h1.heading-primary
      | WE match prices + 25% off, on any GRADUATION &amp; WEDDING gowns
  a.btn.header__btn.bold(href='#')
    | Shop Now 
    span.btn-rarr &rarr;
section.section.products
  h2.heading-secondary.text-center Featured
  .products__container
    .products__item
      .products__image
        a(href='')
          img(src='img/products/p1.jpeg' alt='')
      span.products__name Bartok shirt
      span.products__price from $99.99
    .products__item
      .products__image
        a(href='#')
          img(src='img/products/p2.jpeg' alt='')
      span.products__name Buddy shirt
      span.products__price from $300.00
    .products__item
      .products__image
        a(href='#')
          img(src='img/products/p3.jpeg' alt='')
      span.products__name Aiden shirt
      span.products__price from $125.99
section.section.popular
  .popular__bg
    img(src='img/products/p4.jpeg' alt='')
  .popular__description
    h2.heading-secondary Best selling. Join them now!
    a.btn.bold.popular__btn(href='#') Check them now!
section.section.products.sale
  h2.heading-secondary.text-center Sale
  .products__container
    .products__item
      .products__image
        a(href='')
          img(src='img/products/p4.jpeg' alt='')
      span.products__name Bartok shirt
      span.products__price from $99.99
    .products__item
      .products__image
        a(href='#')
          img(src='img/products/p5.jpeg' alt='')
      span.products__name Buddy shirt
      span.products__price from $300.00
    .products__item
      .products__image
        a(href='#')
          img(src='img/products/p6.jpeg' alt='')
      span.products__name Aiden shirt
      span.products__price from $125.99
