doctype html
section.section.products.sale
  h2.heading-secondary.text-center Sale
  .products__container
    .products__item
      .products__image
        a(href='')
          img(src='img/products/p4.jpeg' alt='')
      span.products__name Bartok shirt
      span.products__price from $99.99
    .products__item
      .products__image
        a(href='#')
          img(src='img/products/p5.jpeg' alt='')
      span.products__name Buddy shirt
      span.products__price from $300.00
    .products__item
      .products__image
        a(href='#')
          img(src='img/products/p6.jpeg' alt='')
      span.products__name Aiden shirt
      span.products__price from $125.99
    .products__item
      .products__image
        a(href='')
          img(src='img/products/p1.jpeg' alt='')
      span.products__name Bartok shirt
      span.products__price from $99.99
    .products__item
      .products__image
        a(href='#')
          img(src='img/products/p2.jpeg' alt='')
      span.products__name Buddy shirt
      span.products__price from $300.00
    .products__item
      .products__image
        a(href='#')
          img(src='img/products/p3.jpeg' alt='')
      span.products__name Aiden shirt
      span.products__price from $125.99
    .products__item
      .products__image
        a(href='')
          img(src='img/products/p4.jpeg' alt='')
      span.products__name Bartok shirt
      span.products__price from $99.99
    .products__item
      .products__image
        a(href='#')
          img(src='img/products/p5.jpeg' alt='')
      span.products__name Buddy shirt
      span.products__price from $300.00
    .products__item
      .products__image
        a(href='#')
          img(src='img/products/p6.jpeg' alt='')
      span.products__name Aiden shirt
      span.products__price from $125.99
