include navigation

header.header
  .header__description
    h1.heading-primary
      | WE match prices + 25% off, on any GRADUATION &amp; WEDDING gowns
  a.btn.header__btn.bold(href='/shop')
    | Shop Now 
    span.btn-rarr &rarr;
